MiningClient/Connected Services/WcfStyleCalcProxy/MySoapService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Calc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalcResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalcSoapIn">
    <wsdl:part name="parameters" element="tns:Calc" />
  </wsdl:message>
  <wsdl:message name="CalcSoapOut">
    <wsdl:part name="parameters" element="tns:CalcResponse" />
  </wsdl:message>
  <wsdl:portType name="MySoapServiceSoap">
    <wsdl:operation name="Calc">
      <wsdl:input message="tns:CalcSoapIn" />
      <wsdl:output message="tns:CalcSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MySoapServiceSoap" type="tns:MySoapServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Calc">
      <soap:operation soapAction="http://tempuri.org/Calc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MySoapServiceSoap12" type="tns:MySoapServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Calc">
      <soap12:operation soapAction="http://tempuri.org/Calc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MySoapService">
    <wsdl:port name="MySoapServiceSoap" binding="tns:MySoapServiceSoap">
      <soap:address location="http://localhost:53378/MySoapService.asmx" />
    </wsdl:port>
    <wsdl:port name="MySoapServiceSoap12" binding="tns:MySoapServiceSoap12">
      <soap12:address location="http://localhost:53378/MySoapService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>