BurnWebApp/Connected Services/WcfProxy/BucketService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceWebRole.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Bucket">
    <xs:sequence>
      <xs:element minOccurs="0" name="Coal" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bucket" nillable="true" type="tns:Bucket" />
</xs:schema>